@{
    //ViewBag.Title = "BahamutAll";
}
@section styles {
@Styles.Render("~/Content/themes/jqwidgets")
<style type="text/css">
#grad_left {
left: 0;
background: url('/images/grad_left.png') repeat-y;
}
#grad_right {
right: 0;
background: url('/images/grad_right.png') repeat-y;
}
</style>
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>單日遊戲排行  @Html.ActionLink("遊戲人氣歷程", "Chart", "Bahamut")</h1>
            </hgroup>
            <p>所有遊戲 線上遊戲</p>
        </div>
    </section>
}
<div id="timeline">
   <ul id="dates">
   </ul>
    <ul id="issues">
        <li id="date1">
            <div id="jqxgrid"></div>
        </li>
    </ul>
    <div id="grad_left"></div>
    <div id="grad_right"></div>
   <a id="next">+</a> <!-- optional -->
   <a id="prev">-</a> <!-- optional -->
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryui", "~/bundles/bahamutday")
    <script type="text/javascript">
        var tt = 1;

        function getList() {
            var tmp;
            $.getJSON('/service/datacenter.ashx?m=t&t=' + tt,
            function (data) {
                $.each(data, function (i, item) {
                    $("<li/>").appendTo("#timeline ul").html('<a >' + item  + '</a>');
                    tmp = i;
                });
                $("#dates").width(130 * tmp);
            });
        }

        function day(dd) {
            var theme = getTheme();

            // prepare the data
            var source =
                {
                    datatype: "json",
                    datafields: [
                        { name: 'Rank', type: 'int' },
                        { name: 'Popular' },
                        { name: 'Article' },
                        { name: 'Title' }
                    ],
                    url: "Service/datacenter.ashx",
                    data: {
                        m: "d",
                        d: dd,
                        t: tt
                    }
                };

            var dataAdapter = new $.jqx.dataAdapter(source, {
                //downloadComplete: function (data, status, xhr) { },
                //loadComplete: function (data) { },
                loadError: function (xhr, status, error) { alert(xhr + '\n' + status + '\n' + error); }
            });

            $("#jqxgrid").jqxGrid(
                {
                    width: 700,
                    source: dataAdapter,
                    theme: theme,
                    columnsresize: true,
                    columns: [
                        { text: '排名', datafield: 'Rank', width: 40 },
                        { text: '名稱', datafield: 'Title' },
                        { text: '人氣', datafield: 'Popular', width: 100 },
                        { text: '文章', datafield: 'Article', width: 100 }
                    ]
                });
        }

        $(document).ready(function () {
            getList();
            day("20120926");
            $().timelinr();
            
        });

        function printObject(o) {
            var out = '';
            for (var p in o) {
                out += p + ': ' + o[p] + '\n';
            }
            alert(out);
        }
    </script>
}