@{
    //ViewBag.Title = "Chart";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Html.ActionLink("單日遊戲排行", "Index", "Bahamut")  遊戲人氣歷程</h1>
            </hgroup>
            <p>所有遊戲 線上遊戲</p>
        </div>
    </section>
}

<div id="container" style="width: 100%; height: 400px"></div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryui", "~/bundles/bahamutgame")
    <script type="text/javascript">
        function printObject(o) {
            var out = '';
            for (var p in o) {
                out += p + ': ' + o[p] + '\n';
            }
            alert(out);
        }

        $(document).ready(function() {
            var option = {
                chart: { renderTo: 'container', type: 'spline' },
                title: { text: 'Bahamut Game Popular' },
                subtitle: { text: 'source from www.gamer.com.tw' },
                xAxis: { type: 'datetime' },
                yAxis: { title: { text: '人氣值' } },
                series: [{ }]
            };

            $.getJSON('/service/datacenter.ashx?m=g&g=WOW%20%E9%AD%94%E7%8D%B8%E4%B8%96%E7%95%8C&s=1&e=1',
                function(data) {

                    for (var j = 0; j < data.length; j++) {
                        var seriesData = [];
                        var chartData = data[j]['Data'];
                        var chartName = data[j]['Name'];
                        for (var i = 0; i < chartData.length; i++) {
                            var x = new Date(chartData[i].Date).getTime();
                            var y = chartData[i].Value;
                            seriesData.push([x, y]);
                        }
                        option.series[j].name = chartName;
                        option.series[j].data = seriesData;
                    }
                    new Highcharts.Chart(option);
                });
        });

    </script>
}